<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p>
        add a department
      </p>

      <form class="" action="/departments/new" method="post">
        <label for="name">department name:</label><br>
        <input type="text" name="department-name" required>
        <br><br>
        <button type="submit" class="btn btn-danger" name="dept-button">add department</button>
      </form>
      <br>
      <% @departments.each do |department| %>
        <li><a href="/departments/<%= department.id %>"><%= department.name %></a></li>
      <% end %>
    </div>

    <div class="col-md-6">
      <p>
        add an employee
      </p>

      <form class="" action="/employee/new" method="post">
        <label for="name">employee name:</label><br>
        <input type="text" name="employee-name" required>
        <br><br>
        <button type="submit" class="btn btn-danger" name="button">add employee</button>
      </form>
      <br>
      <% @employees.each do |employee| %>
        <li><a href="/employee/<%= employee.id %>"><%= employee.name %></a></li>
      <% end %>
    </div>
  </div>

</div>
